
body {
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/2381677.jpg);
}

.welcome-text {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 20%;
    font-family: 'Nunito', sans-serif;
}
.welcome-text h1 span {
	color: #00fecb;
}
p {
    text-align: center;
    font-size: 30px;
    color:whitesmoke;
    margin: 0%;
    font-family: 'Nunito', sans-serif;
  }

